@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 15px;
  height: 94%;
  background-color: #800000
}

.info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.time-container, .hit-counter-container {
  margin-bottom: 10px; 
  color: white;
  margin-top: 30px;
}

.button-container {
  position: relative;
  top: 5px; 
  z-index: 1;
}

.button-container p {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  color: white;
}

button {
  padding: 10px;
  font-size: 20px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  background-color: red;
  color: white;
  border-color: white;
  width: 200px;
}

.home-button{
  padding: 10px;
  font-size: 20px;
  margin: 0 5px 30px 5px;
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 200px;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.0625rem;
  background-color: transparent;
  width: 95%;
  height: 70%;
  padding: 1rem;
  margin-left: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-cell {
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 35px;
  width: 45px;
  height: 45px;
  justify-content: center;
  justify-items: center;
}

.grid-cell:hover {
  background-color: transparent;
}

.hit-counter {

  padding: 0 3px 0 6px;
  position: absolute;
  top:0;
  left:0;
}


.leaderboard-container{
  text-align: center;
  margin-top: 10px;
  background: linear-gradient(to bottom, #FF0000, #000000);
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px white solid
}

.app {
  text-align: center;
  background: linear-gradient(to bottom, #FF0000, #000000);
  border: 3px white solid;
  border-radius: 30px;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.home-container, .form-container {
  color: white;
  background: linear-gradient(to bottom, #FF0000, #000000);
  border: 3px white solid;
  border-radius: 30px;
  width: 80%;
  max-width: 600px; 
  margin-top: 50px; 
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

.home-title, .form-title {
  font-size: 20px;
}

.leaderboard-title{
  font-size: 64px;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
}

.player-info {
  background-color: #800000; 
  padding: 20px;
  margin: 40px 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;

}

.player-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-info:hover {
  transform: translateY(-5px);
}


.player-name {
  font-weight: bold;
  color: #FFFFFF; 
}


.player-score {
  color: #FFFFFF; 
}

.game-details {
  margin-top: 10px
}

.game-mode {
  color:#FFFFFF; 
 
}

.form-label {
  font-size: 1.5rem;
}

.textbox {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

.target-img {
  width: 47px;
  height: 47px;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .home-container {
    width: 90%;
    padding: 15px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .grid-cell {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .grid-cell {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .grid-cell {
    background-color: transparent;
    border: 0.0625rem solid transparent;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .app {
    text-align: center;
    background: linear-gradient(to bottom, #FF0000, #000000);
    border: 3px white solid;
    border-radius: 15px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 20px;
  }
}
