@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 15px;
  height: 100%;
}

.button-container {
  position: absolute;
  top: 5px; 
  z-index: 1;
}

.button-container p {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
button {
  padding: 5px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  background-color: rgba(231, 229, 229, 0.541);
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.0625rem;
  background-color: transparent;
  width: 95vw;
  height: 95vh;
  padding: 1rem;
  margin-left: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-cell {
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  justify-content: center;
  justify-items: center;
}

.grid-cell:hover {
  background-color: transparent;
}

.hit-counter {

  padding: 0 3px 0 6px;
  position: absolute;
  top:0;
  left:0;
}

.time-container {

  position: absolute;
  top: 5px;
  z-index: 1;
  top:0;
  left:0;
  padding-left: 10px;
  padding-top:5px;
}